screen {
    display: none;
    font-family: Arial;
    padding: 20px
}

.active {
    display: block
}

.wrap {
    display: flex;
    gap: 20px
}

.list {
    height: 300px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
    width: 280px
}

#collar,
#collar2 {
    background: #4b2e83;
    border-radius: 10px;
    width: 30px;
    height: 200px;
    transition: .3s
}

#collar2 {
    width: 0;
    height: 200px
}

.card textarea {
    width: 100%;
    height: 120px
}